.textbox {
  height: 30px;
  width: 300px;
  border-radius: 15px;
  border-width: 1px;
  padding: 5px;
  margin-right: 10px;
  font-size: medium;
}

.div0 {
  width: 300px;
}

.div1 {
  display: flex;
  padding-top: 30px;
  height: 70px;
}

.div2 {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 250px;
}

.search {
  margin-left: 10px;
}

.radio {
  margin-right: 8px;
}
